<div class="card text-center">
  <div class="card-header"></div>
  <div class="card-body">
    <h5 class="card-title">TinyURL for: <%= longURL %></h5>
    <p class="card-text">
      Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %></a>
    </p>
    <p class="card-text">
      Created Date: <%= createDate %>
    </p>
    <p class="card-text">
      Times of visited: <%= visited %>
    </p>
  </div>
  <div class="card-body">
    <h3 class="card-title">Edit</h3>
    <form method="POST" action=<%= "/urls/" + shortURL %>>
      <label for="longURL">New URL:</label>
      <input type="text" name="longURL" placeholder="http://" />
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
